table {
border-collapse : collapse;
}
th {
color : #000000;
font-size : 14px;
}
a:link {
text-decoration : none;
color : #551a8c;
}
a:visited {
text-decoration : none;
color : #500a80;
}
a:hover {
text-decoration : underline;
color : #505050;
background-color : #ffffff;
}
a:active {
text-decoration : underline;
background-color : #33ff99;
}
.admin {
background-color : #99ffcc;
}
.adminButton {
background-color : #99ffcc;
padding : 1px 5px 1px 5px;
border : 0;
font-size : 20px;
}
.Title {
font-size : 40px;
font-family : Times New Roman;
color : #000099;
text-align : center;
}
.Tail {
text-align : right;
color : #999999;
font-size : 12px;
}
.Tags {
//background-color : #fffaaf;
}
.Tags td {
text-align: left;
padding : 2px;
}
.Tags a:link, .Tags a:visited {
background-color : #d9ff86;
}
.Tags a:hover {
background-color : #86a9ff;
}
.MainText {
background-color : #cfffff;
padding : 10px 10px 10px 10px;
}
.LeftBar {
background-color : #c0f0f0;
width : 10em;
}
.tops {
background-color : #c0f0f0;
width : 15em;
vertical-align : top;
}
.Comments {
background-color : #ffffff;
border : solid #000000;
border-width : 1px 1px 1px;
}
.CommentsK {
background-color : #ffccff;
border : solid #000000;
border-width : 1px 1px 1px;
font-size : 14px;
padding : 10px 10px 10px 10px;
}
.CommentsCode {
background-color : #ffffcc;
border : solid #000000;
border-width : 1px 1px 1px;
padding : 10px 10px 10px 10px;
}
.stdPanel {
background-color : #c0c0ff;
padding : 2px;
}
.CommentsS {
background-color : #cccfff;
border : solid #000000;
border-width : 1px 1px 1px;
font-size : 14px;
text-align : center;
}
.InputBox {
border : 1px solid #000000;
background : #ffff99;
}
.TextArea {
border : 2px solid #000000;
background : #66ffcc;
font-size : 12px;
padding : 5px 5px 5px 5px;
}
.Spliter {
border : 1px #000000;
border-style : dotted;
}
.LinkButton {
padding : 1px 5px 1px 5px;
border : 0;
background-color : #6efe78;
}
.FloatDialog {
position : absolute;
left : 50%;
top : 40%;
margin-left : -280px;
margin-top : -100px;
float : left;
background : #ffffff;
border : 1px solid #000000;
padding : 10px;
}
.inputtext {
background-color : #fffff0;
}
#nag a {
padding : 5px 2px 5px 2px;
border : 0;
font-size : 14px;
text-decoration : none;
}
#nag a:link {
color : #000000;
}
#nag a:hover {
color : #000000;
background-color : #09f8ff;
}
#page_slice {
font-size : 20px;
}
#page_slice tr {
font-size : 20px;
}
.current_page {
font-size : 25px;
margin : 5px;
}
#problem {
background-color : #c1ffd8;
}
body {
color: #000000;
font-size: 14px;
//font-family: 文泉驿微米黑, 微软雅黑, 宋体;
background-color: #CCCCFF;
}
