table {
	BORDER-COLLAPSE:collapse;
	/*background-color: #FFFFFF;*/
}
body {/*背景和默认*/
	color: #000000;
	font-size: 14px;
	font-family: 文泉驿微米黑, 微软雅黑, 宋体;
	background-color: #CCCCFF;
}
td, th{
	color: #000000;
	font-size: 14px;
}
a:link {
text-decoration: none;
	color: #0000FF;
}
a:visited {
text-decoration: none;
	color: #990099;
}
a:hover {
text-decoration: underline;
background-color: #FFFFFF;
}
a:active {
text-decoration: underline;
background-color: #33FF99;
}
.Title {/*标题*/
	font-size: 40px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000099;
	text-align: center;
}
.Tail {/*结尾*/
    text-align: right;
	color: #999999;
	font-size: 12px;
}
.MainText {/*主要文字*/
	background-color:#CCFFFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
	font-size: 14px;
	padding: 10px 10px 10px 10px;
}
.LeftBar {
	background-color:#CCFFFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
	font-size: 14px;
	width: 10em;
	padding: 10px 10px 10px 10px;
}
.tops {
	background-color:#CFFFFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
	font-size: 14px;
	padding: 10px 10px 10px 10px;
	width: 15em;
	vertical-align: top;
}
.Comments {/*评论文字外框*/
	background-color: #FFFFFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
}
.CommentsK {/*评论文字*/
	background-color:#FFCCFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
	font-size: 14px;
	padding: 10px 10px 10px 10px;
}
.CommentsCode {/*评论代码*/
	background-color: #FFFFCC;
	border: solid #000000; 
	border-width: 1px 1px 1px;
	padding: 10px 10px 10px 10px; 
}
.stdPanel {/*评论代码*/
	background-color: #FFFFCC;
	border: solid #000000; 
	border-width: 1px 1px 1px;
	padding: 10px 10px 10px 10px; 
}
.CommentsS {/*评论发表文字*/
	background-color:#CCCFFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
	font-size: 14px;
	text-align:center;
}
.InputBox {/*输入框*/
	border:#000000 solid  1px;
	background:#FFFF99;
}
.TextArea {/*文本域*/
	border:#000000 solid  2px;
	background:#66FFCC;
	font-size:12px;
	padding:5px 5px 5px 5px;
}
.Spliter {/*分割线*/
	border:#000000 1px;
	border-style: dotted;
}
.LinkButton {/*按钮*/
    padding: 1px 5px 1px 5px;
    border: 0;
    background-color:#FFCC50;
}
.FloatDialog{
	position: absolute;
	left:50%;
	top:40%;
	margin-left:-280px;
	margin-top:-100px;
	float:left;
	background:#FFFFFF;
	border:solid #000000 1px;
	padding:10px;
}
.inputtext {
    background-color: #FFFFF0;
}
#nag a {
    padding: 5px 2px 5px 2px;
    border: 0;
    font-size: 14px;
    text-decoration: none;
}
#nag a:link {
    color: #000000;
}
#nag a:hover {
    color: #000000;
    background-color: #09F8FF;
}

#page_slice {
    background-color:rgba(255, 255, 255, 0.8);
    font-size: 20px;
}
#page_slice tr{
    background-color:rgba(255, 255, 255, 0);
    font-size: 20px;
}
.current_page {
    font-size: 25px;
    margin: 5px;
}
