/*
    COGS 样式文件
*/
/* 通用设置 */
body {
    background-color: #CCCCFF;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
table {
    border-collapse : collapse;
    width: 100%;
}
th {
    border: 0;
    color: Black;
    background-color: rgba(255, 255, 255, 0.5);
}
td, tr {
    vertical-align: top;
}
a:link {
    text-decoration: none;
    color: MidnightBlue;
}
a:visited {
    text-decoration: none;
    color: MidnightBlue;
}
a:hover {
    text-decoration: none;
    color: Black;
    background-color: Lavender;
}
a:active {
    text-decoration: none;
    background-color: MintCream;
}input {
    border : 1px solid #000000;
    background : #ffff99;
}
input[type="submit"] {
    padding : 1px 5px 1px 5px;
    border : 0;
    background-color : #6efe78;
}
textarea {
    border : 2px solid #000000;
    background : #66ffcc;
    font-size : 12px;
    padding : 5px 5px 5px 5px;
}
/* 类选择器 */
.ok {
    color: Green;
}
.no {
    color: Red;
}
.todo {
    color: Green;
}
.doing {
    color: Red;
}
.did {
    color: Indigo;
}
.admin {
    background-color : #99ffcc;
}
.admin_big {
    font-size: 200%;
    background-color : #99ffcc;
}
.page_slice {
    position: relative;
    left: 30%;
    width: 40%;
    text-align: center;
    color: CornflowerBlue;
    background-color: Azure;
}
.page_slice table, .page_slice a:link, .page_slice a:visited {
    color: CornflowerBlue;
    background-color: Azure;
}
.page_slice a:hover, .page_slice a:active {
    color: Blue;
    background-color: Azure;
}
.current_page {
    font-weight: bold;
    color: Blue;
    background-color: Azure;
}
.Spliter {
    border : 1px #000000;
    border-style : dotted;
}
/* 提示信息 */
#dialog {
    position: fixed;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border: thick outset LightGreen;
    background-color: LightBlue;
    z-index: 9999;
}
#dialog_title {
    border: 0;
    height: 15%;
    text-align: center;
    font-size: 20px;
    vertical-align: center;
    color: Black;
    background-color: Blue;
}
#error_title {
    border: 0;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    color: Black;
    background-color: Red;
}
#dialog_text {
    border: 0;
    height: 70%;
    text-align: center;
    color: DarkBlue;
}
#dialog_button {
    position: fixed;
    left: 46%;
    width: 8%;
    border: medium outset Red;
    text-align: center;
}
/* 标题尾部 */
#alltext {
}
#globalbar {
    width: 100%;
}
#global_head {
font-size : 40px;
font-family : Times New Roman;
color : #000099;
text-align : center;
}
#nagbar {
    width: 100%;
    text-align: center;
}
#userinfo {
    width: 100%;
}
#body {
    margin: 0;
}
#publicbar {
    margin: 0;
    background-color: LavenderBlush;
}
#publictail {
text-align : right;
color : #999999;
font-size : 12px;
}
#global_tail {
background-color : #c0c0ff;
padding : 2px;
}
/* 首页 */
#index {
background-color : #cfffff;
}
#prob_short {
    margin: 0;
}
#lastest_prob {
    margin: 0;
}
.index_contest {
    margin: 0;
}
#index_prob {
    margin: 0;
    width: 220px;
}
#index_text {
    padding: 5px;
}
#index_rank {
    margin: 0;
    width: 220px;
}
/* 题目 */
#cate_detail {
}
#search_prob {
    text-align:center;
}
#problist {
    width: 100%;
}
#prob_left {
    width: 250px;
}
#pdetail {
}
#probinfo {
    margin: 2px 0;
}
#singlerank {
}
#probdetail {
background-color : #cfffff;
padding : 10px 10px 10px 10px;
}
/* 分类 */
#cate_tags {
}
#cate_tags td {
    padding: 0 0 0 5px;
}
#catelist {
}
/* 比赛 */
#nowtime {
    border: thick outset LightGreen;
    text-align: center;
}
#contestlist {
}
#cprobinfo {
    width: 100%;
    margin: 0;
    background-color: WhiteSmoke;
}
#contest_prob {
    width: 90%;
    margin: 0;
    width: 250px;
}
#contest_prob li {
    font-size: 120%;
    display: block;
}
.cp_now {
    background-color: Yellow;
}
.cp_nnow {
    background-color: WhiteSmoke;
}
#contest_report {
}
/* 记录 */
#search_submit {
    text-align:center;
}
#sublist_now {
    text-align:center;
}
#submitlist {
}
#submitdetail {
}
/* 用户 */
#group_now {
}
#search_user {
    text-align:center;
}
#rank {
    text-align:center;
}
#userlist {
}
#userdetail {
}
#probstatics {
}
#did_contests {
}
/* 分组 */
#grouplist {
}
/* 信件 */
/* 设置 */
#userpanel {
}
/* 后台 */
#admin_index {
    font-size: 180%;
    width: 80%;
}
/* 帮助 */
/* 关于 */
/* 评论 */
.Comments {
background-color : #ffffff;
border : solid #000000;
border-width : 1px 1px 1px;
}
.CommentsK {
background-color : #ffccff;
border : solid #000000;
border-width : 1px 1px 1px;
font-size : 14px;
padding : 10px 10px 10px 10px;
}
.CommentsCode {
background-color : #ffffcc;
border : solid #000000;
border-width : 1px 1px 1px;
padding : 10px 10px 10px 10px;
}
.CommentsTime {
background-color : #ffffcc;
border : solid #000000;
border-width : 1px 1px 1px;
padding : 10px 10px 10px 10px;
}
.CommentsU {
background-color : #cccfff;
border : solid #000000;
border-width : 1px 1px 1px;
font-size : 14px;
text-align : center;
}
/* 登录 */
#login {
    display: none;
    position: fixed;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    border: thick outset LightBlue;
    background-color: LightGray;
    z-index: 999;
}
#login td, #login th {
    border: 0;
    color: Black;
    background-color: LightGray;
}


