table {
    border-collapse: collapse;
    font-size: 14px;
    font-family: Georgia;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #cae0f7;
}

body {
    /*背景和默认*/
    color: #000000;
    font-size: 14px;
    background-color: #c9e0f5;
    font-family: "Lucida Grande", Verdana, sans-serif;
}

td, th {
    color: #000000;
    font-size: 14px;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #4d0f5c;
}

a:hover {
    color: #009000;
}

a:active {
    color: #FF0000;
}

.Title {
    /*标题*/
    font-size: 36px;
    font-family: 王者自由楷體;
    color: #000099;
}

.Tail {
    /*结尾*/
    color: #999999;
    font-size: 14px;
}

.MainText {
    /*主要文字*/
    border: solid #000000;
    border-width: 1 1 1pxpxpx;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
    background-color: #f9fbfc;
    border-style: solid;
    border-color: #ede6ed;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.Comments {
    /*评论文字外框*/
    background-color: #FFFFFF;
    border: solid #000000;
    border-width: 1px 1px 1px;
}

.CommentsK {
    /*评论文字*/
    background-color: #FFCCFF;
    border: solid #000000;
    border-width: 1px 1px 1px;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}

.CommentsCode {
    /*评论代码*/
    background-color: #FFFFCC;
    border: solid #000000;
    border-width: 1px 1px 1px;
    padding: 10px 10px 10px 10px;
}

.stdPanel {
    /*评论代码*/
    background-color: #FFFFCC;
    border: solid #000000;
    border-width: 1 1px 1pxpx;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.CommentsS {
    /*评论发表文字*/
    background-color: #CCCCFF;
    border: solid #000000;
    border-width: 1px 1px 1px;
    font-size: 14px;
    text-align: center;
}

.InputBox {
    /*输入框*/
    border: #000000 solid  1px;
    background: #FFFF99;
    background-color: #FFF;
}

.TextArea {
    /*文本域*/
    border: #000000 solid  2px;
    background: #FFFFFF;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
}

.Spliter {
    /*分割线*/
    border: #000000 2px;
    border-style: dotted;
    border-color: #d6befa;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

.Button {
    /*按钮*/
    border: #000000 3px;
    text-decoration: none;
    background-color: #c2c0c2;
    font-family: "Lucida Grande", Verdana, sans-serif;
}

.LinkButton {
    /*按钮*/
    border: #000000 1px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
    background-color: #FFCC00;
    border-style: solid;
}

.FloatDialog {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -280px;
    margin-top: -100px;
    float: left;
    background: #FFFFFF;
    border: solid #000000 1px;
    padding: 10px;
}

