body {
    background-size: 100%;
    background-attachment: fixed;
}

#body {
    padding-top: 45px;
}

.footer {
    padding: 0;
    border-top: 1px solid #e5e5e5;
}

.footer {
    margin: 0;
    padding: 0;
    color: #555;
}

.admin {
    background-color: #d9edf7;
}

.big {
    font-size: 200%;
}

.ok {
    color: Green;
}

.no {
    color: Red;
}

.todo {
    color: Green;
}

.doing {
    color: Red;
}

.did {
    color: Indigo;
}


.center {
    text-align: center;
}

th {
    text-align: center;
}

.fixed {
    table-layout: fixed;
}

.pagination {
    text-align: center;
}

.pagination ul {
    background-color: #fff;
}

.wrap {
    word-break: break-all;
    word-wrap: break-all;
}

.table-form {
    width: 95%;
    table-layout: fixed;
}

#catebar li {
    height: 30px;
}

#catebar a {
    color: #000000;
}

#catebar a:hover {
    color: #008000;
}

.judge {
    font-family: monospace;
}

.meng {
    background-color: rgba(255,255,255,0.6);
}
