body {
    background-size: 100%;
    background-attachment: fixed;
}

.textarea {
    width: 90%;
    height: 100px;
}

.pagearea {
    width: 95%;
    height: 400px;
}

#alltext {
padding: 0;
margin: 0;
}

#body {
padding: 0;
margin: 0;
    background-size: 100%;
    background-attachment: fixed;
}

.table {
    background-color: #fff;
}

.footer {
    margin: 0;
    border-top: 1px solid #e5e5e5;
    color: #555;
    padding: 0 10px 0 10px;
}

.footer p {
    margin: 0;
    padding: 0;
}

.jin {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.admin {
    background-color: #d9edf7;
}

.big {
    font-size: 200%;
}

.ok {
    color: Green;
}

.no {
    color: Red;
}

.todo {
    color: Green;
}

.doing {
    color: Red;
}

.did {
    color: Indigo;
}


.center {
    text-align: center;
}

th {
    text-align: center;
}

.fixed {
    table-layout: fixed;
}

.pagination {
    text-align: center;
}

.pagination ul {
    background-color: #fff;
}

.wrap {
    word-break: break-all;
    word-wrap: break-all;
}

.table-form {
    width: 95%;
    table-layout: fixed;
}

.judge {
    font-family: monospace;
}

.meng {
    background-color: #fff;
}

.page {
padding: 10px;
    background-color: #fff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
}

.form-horizontal {
padding: 10px;
    background-color: #fff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.Comments {
    width: 100%;
    border: 0;
    background-color: rgba(255,255,255,0.1);
}

.CommentsK {
    height: 40px;
    background-color: rgba(252,253,254,0.8);
    border: 0;
    padding: 10px 10px 10px 10px;
}

.CommentsCode {
    border: 0;
    text-align: center;
    width: 250px;
    background-color: rgba(252,223,200,0.8);
}

.CommentsTime {
    border: 0;
    text-align: right;
    background-color: rgba(252,253,184,0.8);
}

.CommentsU {
    width: 250px;
    background-color: rgba(197,248,252,0.2);
    border: 2px solid white;
}

.CommentsU tr {
    background-color: rgba(255,255,255,0);
    border: 0;
}

#nav ul {
    list-style: none;
}

#nav ul li {
    float: left;
    margin-left: 0px;
}

#catebar ul {
    list-style: none;
}

#catebar ul li {
    float: left;
    margin-left: 0px;
}

.tagcloud {
  list-style: none;
  margin-left: 0;
  margin-top: 10px;
}
.tagcloud .tag {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #EEE;
  padding: 4px 10px;
  display: inline;
  margin-right: 4px;
  margin-bottom: 5px;
}
.tagcloud .tag a {
    color: black;
}
.problem {
    color: black;
    background: white;
    font-size: 16px;
}
.problem h1 {
    font-family: sans-serif;
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 0;
    background-color: PaleTurquoise;
    color: MidnightBlue;
    text-shadow: 2px 2px 10px Linen;
}
.problem h2 {
    font-family: sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 0;
    background-color: PowderBlue;
    color: MidnightBlue;
    text-shadow: 1px 1px 5px Azure;
}
.problem dt, .problem h3 {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    color: white;
    background-color: CornflowerBlue;
    margin: 0;
    padding: 2px 10px 2px 10px;
    text-shadow: 1px 1px 5px MediumBlue;
}
.problem dd {
    font-family: serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    background-color: Azure;
    margin: 0;
    padding: 10px 30px 10px 30px;
}
.problem pre {
    font-family: monospace;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
    color: black;
    background-color: LavenderBlush;
    outline-width: 2px;
    margin: 0;
    padding: 10px;
}
.problem table {
    border-collapse: collapse;
    table-layout: fixed;
    empty-cells: show;
    caption-side: bottom;
    background-color: white;
    border-style: solid;
    border-width: 0;
}
.problem th {
    font-weight: bold;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: DarkGray;
    padding: 5px;
    background-color: WhiteSmoke;
}
.problem tr {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: DarkGray;
    background-color: white;
}
.problem tr:nth-child(even) {
    background-color: WhiteSmoke;
}
.problem td {
    border-width: 0;
    padding: 4px 2px 4px 2px;
}

