body {
    background-size: 100%;
    background-attachment: fixed;
}

.textarea {
    width: 90%;
    height: 100px;
}

.pagearea {
    width: 95%;
    height: 400px;
}

#body {
    padding-top: 45px;
    background-size: 100%;
    background-attachment: fixed;
}

.table {
    background-color: #fff;
}

.footer {
    padding: 0;
    border-top: 1px solid #e5e5e5;
}

.footer {
    margin: 0;
    padding: 0;
    color: #555;
}

.jin {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.admin {
    background-color: #d9edf7;
}

.big {
    font-size: 200%;
}

.ok {
    color: Green;
}

.no {
    color: Red;
}

.todo {
    color: Green;
}

.doing {
    color: Red;
}

.did {
    color: Indigo;
}


.center {
    text-align: center;
}

th {
    text-align: center;
}

.fixed {
    table-layout: fixed;
}

.pagination {
    text-align: center;
}

.pagination ul {
    background-color: #fff;
}

.wrap {
    word-break: break-all;
    word-wrap: break-all;
}

.table-form {
    width: 95%;
    table-layout: fixed;
}

.judge {
    font-family: monospace;
}

.meng {
    background-color: #fff;
}

.page {
padding: 10px;
    background-color: #fff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
    font-size: 150%;
    line-height: 120%;
}

.form-horizontal {
padding: 10px;
    background-color: #fff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.Comments {
    width: 100%;
    border: 0;
    background-color: rgba(255,255,255,0.1);
}

.CommentsK {
    height: 40px;
    background-color: rgba(252,253,254,0.8);
    border: 0;
    padding: 10px 10px 10px 10px;
}

.CommentsCode {
    border: 0;
    text-align: center;
    width: 250px;
    background-color: rgba(252,223,200,0.8);
}

.CommentsTime {
    border: 0;
    text-align: right;
    background-color: rgba(252,253,184,0.8);
}

.CommentsU {
    width: 250px;
    background-color: rgba(197,248,252,0.2);
    border: 2px solid white;
}

.CommentsU tr {
    background-color: rgba(255,255,255,0);
    border: 0;
}

#nav ul {
    list-style: none;
}

#nav ul li {
    float: left;
    margin-left: 0px;
}

#catebar ul {
    list-style: none;
}

#catebar ul li {
    float: left;
    margin-left: 0px;
}


