.jA {color:#1e90ff;}
.jP {color:#191970;}
.jW {color:#ff143c;}
.jT {background-color:#ffa500;color:#ffefd5;}
.jM {background-color:#00FF74;color:#0e5b07;}
.jE {background-color:#6a5acd;color:#f5f5f5;}
.jR {background-color:#20b2aa;color:#fffafd;}
.jC {background-color:#FF0000;color:#FFFFFF;}
.jD {color:#fff;background-color:#000;}
.jN {color:#FFFFFF;}



body {
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 34px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}


.textarea {
    width: 90%;
    height: 100px;
}

.pagearea {
    width: 95%;
    height: 400px;
}

#alltext {
padding: 0;
margin: 0;
}

#body {
    background-size: 100%;
    background-attachment: fixed;
}

.table {
    background-color: #fff;
}

.footer {
    margin: 0;
    border-top: 1px solid #e5e5e5;
    color: #555;
    padding: 0 10px 0 10px;
}

.footer p {
    margin: 0;
    padding: 0;
}

.jin {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.admin {
    background-color: #d9edf7;
}

.big {
    font-size: 200%;
}

.ok {
    color: Green;
}

.no {
    color: Red;
}

.todo {
    color: Green;
}

.doing {
    color: Red;
}

.did {
    color: Indigo;
}


.center, .center td {
    text-align: center;
}



th {
    text-align: center;
}

.fixed {
    table-layout: fixed;
}

.pagination {
    text-align: center;
}

.pagination ul {
    background-color: #fff;
}

.wrap {
    word-break: break-all;
    word-wrap: break-all;
}

.table-form {
    width: 95%;
    table-layout: fixed;
}

.judge {
    font-family: monospace;
}

.meng {
    background-color: #fff;
}

.page {
padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
color: #000;
}

.form-horizontal {
padding: 10px;
    background-color: #fff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.Comments {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(255,255,255,0.1);
}

.CommentsK {
    height: 5em;
    background-color: rgba(252,253,254,0.8);
    border: 0;
    padding: 10px 10px 10px 10px;
}

.CommentsCode {
    border: 0;
    text-align: center;
    width: 100px;
    background-color: rgba(252,223,200,0.5);
}

.CommentsTime {
    border: 0;
    text-align: right;
    background-color: rgba(252,253,184,0.5);
}

.CommentsBar {
    max-height: 12px;
}

.CommentsU {
    width: 200px;
    background-color: rgba(197,248,252,0.2);
    border: 2px solid white;
}

.CommentsU tr {
    background-color: rgba(255,255,255,0);
    border: 0;
}

#nav ul {
    list-style: none;
}

#nav ul li {
    float: left;
    margin-left: 0px;
}

#catebar ul {
    list-style: none;
}

#catebar ul li {
    float: left;
    margin-left: 0px;
}

.tagcloud {
  list-style: none;
  margin-left: 0;
  margin-top: 10px;
}
.tagcloud .tag {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #EEE;
  padding: 4px 10px;
  display: inline;
  margin-right: 4px;
  margin-bottom: 5px;
}
.tagcloud .tag a {
    color: black;
}
.problem {
    color: black;
    background: white;
    font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.problem h1 {
    font-family: sans-serif;
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 8px;
    background-color: PaleTurquoise;
    color: MidnightBlue;
    text-shadow: 2px 2px 10px Linen;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.problem h2 {
    font-family: sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin: 6px;
    background-color: PowderBlue;
    color: MidnightBlue;
    text-shadow: 1px 1px 5px Azure;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.problem dt, .problem h3 {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    color: white;
    background-color: CornflowerBlue;
    margin: 5px;
    padding: 2px 10px 2px 10px;
    text-shadow: 1px 1px 5px MediumBlue;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.problem dd {
    font-family: serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    background-color: Azure;
    margin: 0;
    padding: 10px 30px 10px 30px;
}
.problem pre {
    font-family: monospace;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
    color: black;
    background-color: LavenderBlush;
    outline-width: 2px;
    margin: 0;
    padding: 10px;
}
.problem table {
    border-collapse: collapse;
    table-layout: fixed;
    empty-cells: show;
    caption-side: bottom;
    background-color: white;
    border-style: solid;
    border-width: 0;
}
.problem th {
    font-weight: bold;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: DarkGray;
    padding: 5px;
    background-color: WhiteSmoke;
}
.problem tr {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: DarkGray;
    background-color: white;
}
.problem tr:nth-child(even) {
    background-color: WhiteSmoke;
}
.problem td {
    border-width: 0;
    padding: 4px 2px 4px 2px;
}

#index {
    text-align: center;
    font-size: 26px;
    line-height: 34px;
    font-weight: bold;
}

#index a:link, #index a:visited {
    color: #08c;
    text-decoration: none;
    text-shadow: 2px 4px 8px #fff;
}

#index a:hover {
    color: #08c;
    text-decoration: none;
    text-shadow: 2px 4px 8px #ccf;
}

#index a:active {
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 4px 8px #678;
}

.table {
    background-color: rgba(255, 255, 255, 0.8);
color: #000;
}

.table th {
    text-align: center;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: rgba(255, 255, 255, 0.8);
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgba(200, 200, 200, 0.8);
}

.tou {
    background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.tou h1 {
    background-color: rgba(255, 255, 255, 0.5);
}

.alert {
  background-color: rgba(252, 248, 227, 0.9);
  color: #c09853;
}

.alert-success {
  color: #468847;
  background-color: rgba(223, 240, 216, 0.9);
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: rgba(242, 222, 222, 0.9);
}

.alert-info {
  color: #3a87ad;
  background-color: rgba(217, 237, 247, 0.9);
}

.label {
    font-size: 100%;
    font-weight: normal;
}

.btn {
    font-weight: normal;
}
/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.bs-docs-example > .after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

/* Tweak examples
------------------------- */
.bs-docs-example > p:last-child {
  margin-bottom: 0;
}
.bs-docs-example .table,
.bs-docs-example .progress,
.bs-docs-example .well,
.bs-docs-example .alert,
.bs-docs-example .hero-unit,
.bs-docs-example .pagination,
.bs-docs-example .navbar,
.bs-docs-example > .nav,
.bs-docs-example blockquote {
  margin-bottom: 5px;
}
.bs-docs-example .pagination {
  margin-top: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  height: 90px;
  overflow: hidden; /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
  margin-left: 0;
  margin-right: 0;
}
.bs-navbar-top-example {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
.bs-navbar-top-example:after {
  top: auto;
  bottom: -1px;
  -webkit-border-radius: 0 4px 0 4px;
     -moz-border-radius: 0 4px 0 4px;
          border-radius: 0 4px 0 4px;
}
.bs-navbar-bottom-example {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.bs-navbar-bottom-example .navbar {
  margin-bottom: 0;
}
form.bs-docs-example {
  padding-bottom: 19px;
}

/* Images */
.bs-docs-example-images img {
  margin: 10px;
  display: inline-block;
}

/* Tooltips */
.bs-docs-tooltip-examples {
  text-align: center;
  margin: 0 0 10px;
  list-style: none;
}
.bs-docs-tooltip-examples li {
  display: inline;
  padding: 0 10px;
}

/* Popovers */
.bs-docs-example-popover {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}
.bs-docs-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}

