body,td,th {/*背景和默认*/
	color: #000000;
	font-size: 13px;
}
body {
	background-color: #99FFFF
}
a:link {
	color: #FF0000;
}
a:visited {
	color: #0000FF;
}
a:hover {
	color: #FFFF00;
}
a:active {
	color: #FF0000;
}
.Title {/*标题*/
	font-size: 36px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000099;
}
.Tail {/*结尾*/
	color: #999999;
	font-size: 14px;
}
.MainText {/*主要文字*/
	background-color:#BAF9FE;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
	font-size: 14px;
	padding: 10px 10px 10px 10px;
}
.Comments {/*评论文字外框*/
	background-color: #FFFFFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
}
.CommentsK {/*评论文字*/
	background-color:#FFCCFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
	font-size: 14px;
	padding: 10px 10px 10px 10px;
}
.CommentsCode {/*评论代码*/
	background-color: #FFFFCC;
	border: solid #000000; 
	border-width: 1px 1px 1px;
	padding: 10px 10px 10px 10px; 
}
.CommentsS {/*评论发表文字*/
	background-color:#CCCCFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
	font-size: 14px;
	text-align:center;
}
.InputBox {/*输入框*/
	border:#000000 solid  1px;
	background:#FFFF99;
}
.TextArea {/*文本域*/
	border:#000000 solid  2px;
	background:#66FFCC;
	font-size:12px;
	padding:10px 10px 10px 10px;
}
.Spliter {/*分割线*/
	border:#000000 2px;
	border-style: dotted;
}
.Button {/*分割线*/
	border:#000000 3px;
	background-color: #99FF00;
	border-style:double;
	font-size:14px;
}