/*
    COGS 样式文件
*/

/* 通用设置 */

body {
    font-family: 微软雅黑, Ubuntu, 文泉驿正黑, sans !important;
    color: Black;
    background-size: 100%;
    background-attachment: fixed;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border: 0;
    color: Black;
    background-color: rgba(252,252,252,0.6);
}

th {
    border: 0;
    color: Black;
    background-color: rgba(212,212,212,0.5);
}

tr {
    border: 0;
    color: Black;
    vertical-align: top;
}

td {
    border: none;
    margin: 0 0 0 0;
    color: Black;
    vertical-align: top;
    word-break: break-all;
}

tr:nth-child(even) {
    background-color: rgba(222,222,222,0.2);
}

li {
    list-style: none;
}

p {
    margin: 2px 2px 2px 2px;
}

a:link, a:visited {
    text-decoration: none;
    color: CornflowerBlue;
    border: 0;
}

a:hover {
    text-decoration: none;
    color: DarkBlue;
    border: 0;
}

a:active {
    text-decoration: none;
    color: DeepPink;
    border: 0;
}

input, textarea {
    border: 1px solid LightBlue;
    background-color: rgba(255,255,255,0.9);
}

input:hover, textarea:hover {
    border: 1px solid #2491b3;
    background-color: White;
}

input:active, textarea:active {
    border: 1px solid #eeea50;
    background-color: White;
}

input[type="submit"] {
    border: 1px solid LightBlue;
    padding: 2px 8px 2px 8px;
    background-color: WhiteSmoke;
}

input[type="submit"]:hover {
    border: 1px solid #0077ec;
    background-color: White;
}

input[type="submit"]:active {
    border: 1px solid #0077ec;
    background-color: LightBlue;
}

pre {
    margin: 0;
}

/* 类选择器 */

.ok {
    color: Green;
}

.no {
    color: Red;
}

.todo {
    color: Green;
}

.doing {
    color: Red;
}

.did {
    color: Indigo;
}

.judge {
    border: none;
    margin: 0;
    font-family: monospace;
}

.admin {
    background-color: rgba(204,204,255,0.5);
}

.admin_big {
    font-size: 200%;
    background-color: rgba(204,204,255,0.5);
}

.page_slice {
    text-align: center;
    color: CornflowerBlue;
}

.page_slice table {
    text-align: center;
    width: auto;
}

.page_slice a:link, .page_slice a:visited {
    color: CornflowerBlue;
}

.page_slice a:hover, .page_slice a:active {
    color: Blue;
}

.current_page {
    font-weight: bold;
    color: Blue;
}

.Spliter {
    border: 1px #000000;
    border-style: dotted;
}

/* 提示信息 */

#dialog {
    position: fixed;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border: thick outset LightGreen;
    background-color: LightBlue;
    z-index: 9999;
}

#dialog_title {
    border: 0;
    height: 15%;
    text-align: center;
    font-size: 20px;
    vertical-align: center;
    color: Black;
    background-color: Blue;
}

#error_title {
    border: 0;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    color: Black;
    background-color: Red;
}

#dialog_text {
    border: 0;
    height: 70%;
    text-align: center;
    color: DarkBlue;
}

#dialog_button {
    position: fixed;
    left: 46%;
    width: 8%;
    border: medium outset Red;
    text-align: center;
}

/* 标题 尾部 */

#alltext {
    margin: 0 0 0 0;
    padding: 0;
    background-color: rgba(255,255,255,0.15);
}
.global_header {
vertical-align:middle;
z-index:9998;
width:100%;
height:30px;
background-color:rgba(240,248,255,0.9);
background-color:AliceBlue \9;
position:fixed;
_position:absolute;
margin:0 auto;
left:0;
top:0;
}
.global_header a:link, .global_header a:visited {
color:Black;
text-decoration:none;
margin:0 0 0 0;
}
.global_header a:hover {
background-color:PaleTurquoise;
}
.global_header a:active {
background-color:MintCream;
}
.global_header .list {
float:left;
display:inline;
margin:0 0 0 0;
padding:0 0 0 0;
}
.global_header .list li,.global_header .search,.global_header .message,.global_header .person,.global_header .letter {
float:left;
position:relative;
display:inline;
}
.global_header .list li {
}
.global_header .list li a {
display:inline-block;
height:24px;
font-size:12px;
margin:0 0 0 0;
padding:6px 4px 0px 4px;
vertical-align:middle;
}
.global_header .logo a {
font-size:20px;
font-weight:bold;
text-align:center;
}
.global_header .search {
display:block;
vertical-align:middle;
height:30px;
margin:3px 0 0 10px;
padding:0 0 0 0;
}
.global_header .person {
float:right;
margin:0 0 0 0;
padding:0 0 0 0;
}
.global_header .person li {
float:right;
display:inline;
position:relative;
vertical-align:middle;
}
.global_header .person li a {
display:inline-block;
height:23px;
font-size:12px;
margin:0 0 0 0;
padding:7px 4px 0px 4px;
}
.global_header .person li a:hover {
}
.global_header .person .user a {
height:30px;
margin:0 0 0 0;
padding:0 0 0 0;
}
.global_header .person .user a:hover {
}
.global_header .person .user .username {
display:inline-block;
vertical-align:bottom;
font-size:14px;
font-weight:bold;
margin:0 0 4px 0;
padding:0 0 4px 0;
}
.global_header .person .user .avatar {
display:inline-block;
height:28px;
width:28px;
margin:0 0 0 0;
padding:1px 1px 1px 1px;
}

#globalbar {
    width: 100%;
    color: Lavender;
    background-color: rgba(141,192,199,0);
    font-family: monospace !important;
}

#global_head {
    font-family: Ubuntu, sans !important;
    font-size: 40px;
    text-align: center;
    color: MidnightBlue;
    background-color: rgba(141,192,199,0);
    text-shadow: 5px 1px 4px #fff;
}

#nagbar {
    width: 100%;
    text-align: center;
    background-color: rgba(141,192,199,0);
}

#globalbar tr {
    background-color: rgba(141,192,199,0);
}

#globalbar tr th, #globalbar tr td a:link, #globalbar tr td a:visited {
    color: Black;
    background-color: rgba(141,192,199,0);
    text-shadow: 1px 1px 5px #fff;
    border: 0;
}

#globalbar tr td a:hover, #globalbar tr td a:active {
    color: Black;
    background-color: #dae8fb;
    text-shadow: 1px 1px 5px #fff;
}

#userinfo {
    background-color: rgba(141,192,199,0);
    text-shadow: 1px 0px 2px #ccf;
}

#body {
    margin: 45px 0 0 0;
}

#publicbar {
    margin: 0;
    background-color: rgba(250, 230, 230, 0.6);
    border: 1px solid #f96531;
}

#publictail , #publictail a {
    margin: 0;
    color: SteelBlue;
    background-color: rgba(77,147,120,0);
    text-shadow: 0px 2px 8px #fcf;
}

#global_tail, #global_tail a {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 90%;
    text-align: right;
    color: Teal;
    background-color: rgba(177,199,202,0.1);
}

/* 首页 */

#index {
    background-color: rgba(223,234,245,0.3);
}

#prob_short {
    margin: 0;
}

#lastest_prob {
    margin: 0;
}

.index_contest {
    margin: 0;
}

#index_prob {
    margin: 0;
    width: 25%;
}

#index_text {
    padding: 5px;
}

#index_rank {
    margin: 0;
    width: 25%;
}

/* 题目 */

#cate_detail {
}

#search_prob {
    text-align: center;
}

#problist {
}

#prob_left {
    width: 250px;
}

#pdetail {
    background-color: rgba(252,252,252,0.4);
}

#probinfo {
    margin: 2px 0;
}

#singlerank {
}

#probdetail {
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    color: Black;
	overflow: auto;
    background-color: rgba(255,255,255,0.5);
    font-size: 15px;
}

#probdetail table, #probdetail td{
    border-collapse: collapse;
    border: 1px solid black;
    width: auto;
}

/* 分类 */

#cate_tags {
}

#cate_tags td {
    font-size: 90%;
}

#catelist {
}

/* 比赛 */

#nowtime {
    border: thick outset LightGreen;
    text-align: center;
}

#contestlist {
}

#cprobinfo {
    width: 100%;
    margin: 0;
    background-color: WhiteSmoke;
}

#contest_prob {
    width: 250px;
    margin: 0;
}

#contest_prob li {
    font-size: 120%;
    display: block;
}

.cp_now {
    background-color: Yellow;
}

.cp_nnow {
    background-color: WhiteSmoke;
}

#contest_report {
}

/* 记录 */

#search_submit {
    text-align: center;
}

#sublist_now {
    text-align: center;
}

#submitlist {
}

#submitdetail {
}

/* 用户 */

#group_now {
}

#search_user {
    text-align: center;
}

#rank {
    text-align: center;
}

#userlist {
}

/* 信件 */

/* 设置 */

#userpanel {
}

/* 后台 */

#admin_index {
    font-size: 180%;
    width: 80%;
}

/* 帮助 */

/* 关于 */

/* 评论 */

.Comments {
    border: 0;
    background-color: rgba(255,255,255,0.1);
}

.CommentsK {
    height: 40px;
    background-color: rgba(252,253,254,0.8);
    border: 0;
    padding: 10px 10px 10px 10px;
}

.CommentsCode {
    border: 0;
    text-align: center;
    width: 250px;
    background-color: rgba(252,223,200,0.8);
}

.CommentsTime {
    border: 0;
    text-align: right;
    background-color: rgba(252,253,184,0.8);
}

.CommentsU {
    width: 250px;
    background-color: rgba(197,248,252,0.4);
    border: 0;
}

.CommentsU tr {
    background-color: rgba(255,255,255,0);
    border: 0;
}

/* 登录 */

#login {
    border: 1px solid LightBlue;
    width: 260px;

#login td, #login th, #login tr {
    border: 0;
    color: Black;
    background-color: rgba(255,255,255,0.2);
}

