table {
	BORDER-COLLAPSE:collapse;
	border: #CAD9EA;
}
body {/*背景和默认*/
	color: #000000;
	font-size: 13px;
	background-color: #FFFFFF;
}
td, th{
	color:#444444;
	font-size: 13px;
}
a:link {
	color: #000000;
	text-decoration:none;
}
a:visited{
	color: #000000;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

.Title {/*标题*/
	font-size: 36px;
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
}
.Tail {/*结尾*/
	color: #999999;
	font-size: 12px;
}
.MainText {/*主要文字*/
	background-color: #DFFFFF;
	border: solid #000000; 
	border-width: 1px 1px 1px; 
	font-size: 13px;
	padding: 10px 10px 10px 10px;
}
.Comments {/*评论文字外框*/

}
.CommentsK {/*评论说明文字*/
	font-size: 14px;
	padding: 10px 10px 10px 10px;
}
.CommentsCode {/*评论代码*/
	background-color: #FFFFFF;
	border: solid #000000; 
	border-width: 1px 1px 1px;
	padding: 10px 10px 10px 10px; 
}
.stdPanel {/*导航栏*/
	background-color: #DDFFFF;
	border: solid #000000; 
	border-width: 1px 1px 1px;
	padding: 10px 10px 10px 10px; 
}
.CommentsS {/*评论发表文字*/
	font-size: 14px;
	text-align:center;
}
.InputBox {/*输入框*/
	border:#CCCCCC solid 1px;
	background: #FFFFFF;
}
.TextArea {/*文本域*/
	border:#000000 solid  1px;
	background: #FFCCFF;
	font-size:12px;
	padding:2px 2px 2px 2px;
}
.Spliter {/*分割线*/
	border: #CCCCCC thin;
	border-style: solid
}
.Button {/*按钮*/
	border:#000000 1px;
	background-color: #CCCCCC;
	border-style: groove;
	font-size:14px;
}
.LinkButton {/*按钮*/
	padding:2px 2px 2px 2px;
	margin-top:10px;
	background-color: #DEFECA;

}